<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>class-01.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>class-02.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>class-03.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>class-04.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>class-05.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>class-06.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>class-07.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>class-08.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>class-09.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>class-10.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>class-11.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>class-12.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>class-13.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>class-14.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>class-15.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>class-16.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>class-17.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>huffman-coding.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>pattern-search.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>quicksort-variations.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C803611922529AE90080BA9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C80361352252B2810080BA9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C80FB42022836D3A00D32C73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C80FB44B22836E2400D32C73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C80FB45722836E8B00D32C73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C80FB46222836EFF00D32C73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C80FB484228371C100D32C73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8150CFC2236FBB900CCAB2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8150D0A2236FC1900CCAB2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8257B342239A9400010DE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8264E8A2240273D002E006E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C838960C227A4D7D004383FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8567186222D55DF0015EDB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8567192222D561A0015EDB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C85671A1222D56570015EDB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C85671B0222D56760015EDB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8708982228778F30092C029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C870898D2287790B0092C029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C870899A22877AEC0092C029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C87089A522877B140092C029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C88FD8752242CCA700CF6A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C89468FF2279179000882146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C894690A2279179B00882146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8946915227917A100882146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8946920227917AB00882146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C894692B227917B200882146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8946936227917D000882146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C89470892280C09A006AFE82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C89B6C9D2236F47A0068866B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A96C1B22836A7400FD3510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A96C2622836A7E00FD3510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8AB20AE222D5361000FED0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
